* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: #333C83;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    padding: 10px 20px;
    background: #051367;
    width: 40%;
    border-radius: 10px;
	text-align: center;
}

#pass-input {
    border: none;
    outline: none;
    height: 20px;
    border-radius: 10px;
    padding: 0 10px;
	font-size: 20px;
}

.my-span {
	cursor: pointer;
}